<div class="navbar fixed-bottom">

    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href="https://www.linkedin.com/in/kamil-dr%C3%B3%C5%BCd%C5%BC-10288b115/"><i
                        class="icon ion-social-linkedin" style="color:red"></i></a>
                <a href="#"><i class="icon ion-social-linkedin" style="color:green"></i></a>
                <a href="#"><i class="icon ion-social-linkedin" style="color:blue"></i></a>
            </div>

            <p class="copyright">Kamil, Karol & Łukasz © 2022</p>
        </footer>
    </div>
</div>