/* body{
	height: 100%;
	width: 100%;
}

.back {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Caveat', 'Jost';
    background: url("src\assets\ConfRoom2.jpg") no-repeat center/ cover;	
} */

body{
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	min-height: 100vh;
	font-family: 'Jost';
    background: linear-gradient(#5e74f0,white,#5e74f0);
}
